*{
  padding: 0.5em;
  align-items: center;
}

.card-container{
  display: flex;
}
.card{
  display:block;
  height: 17em;
  width: 14em;
  margin: 0.4em;
  padding: 0;
  border: 2px solid auto;
  overflow: hidden;
  border: 2px solid #d2d4d6
}

.card-image{
  position: relative;
  margin-left: -0.5em;
  margin-top: -0.5em;
  height: 7em;
  width: 14em;
}

.card-bottom{
  position: relative;
  width: 12.5em;
  padding: 0;
}

.card-heading{
  color:cornflowerblue;
  margin: -0.6em 0;
  padding-left: 0.3em;
  width: 100%;
}

.card-desc{
  /* font-size: 90%; */
  position: relative;
  width: 100%;
}
